<!DOCTYPE html>

<!--===============================================================================================-->
<!-- Program:  Python / SQLite Web Application                                                     -->
<!-- Filename: base.html                                                                           -->
<!-- Author:   Jamie Allen                                                                         -->
<!-- Course:   BSc Digital Technology and Solutions                                                -->
<!-- Module:   Software Engineering and Agile                                                      -->
<!-- Version:  1.0                                                                                 -->
<!--===============================================================================================-->

<!--===============================================================================================-->
<!-- File: base.html                                                                               -->
<!--                                                                                               -->
<!-- Disclaimer: The following source code is the sole work of the author unless otherwise stated. -->
<!--                                                                                               -->
<!-- Copyright (c) Jamie Allen. All Rights Reserved.                                               -->
<!--===============================================================================================-->

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width = device-width, initial-scale = 1"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" 
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
              crossorigin="anonymous">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <main class="d-flex flex-nowrap" style="height:90vh;">
            <!-- Sidebar -->
            {% if user.is_authenticated %}
            <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 15%;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <!-- TODO - Add icon here -->
                    <span class="fs-4">QA Web Application</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link active" aria-current="page">
                            <!-- TODO - Add icon here -->
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/tickets" class="nav-link text-white" aria-current="page">
                            <!-- TODO - Add icon here -->
                            Tickets
                        </a>
                    </li>
                    {% if user.role_name == "Admin" %}
                    <hr>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white" aria-current="page">
                            <!-- TODO - Add icon here -->
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white" aria-current="page">
                            <!-- TODO - Add icon here -->
                            Roles
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}

            <!-- Content -->
            {% if user.is_authenticated %}
            <div id="content_body" style="width: 85%;">
            {% else %}
            <div id="content_body" style="width: 100%;">
            {% endif %}
                <!-- Alerts -->
                <div id="alerts">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        {% if category == "failure" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"/>
                        </div>
                        {% elif category == "warning" %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"/>
                        </div>
                        {% elif category == "success" %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"/>
                        </div>
                        {% else %}
                        <div class="alert alert-light alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"/>
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <!-- Replaceable Content Block -->
                <div id="content" class="container-fluid">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </main>

        <!-- Footer -->
        <div id="footer" class="d-flex flex-nowrap" style="height:10vh;">
            <!-- Extends the sidebar -->
            {% if user.is_authenticated %}
            <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 15%;">
                <hr>
                <div id="sidebar-blankspace" class=""></div>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.profile_image %}
                        <img src={{user.profile_image}} alt="" class="rounded-circle me-2" width="32" height="32">
                        {% endif %}
                        <strong>{{user.first_name}}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item disabled">{{user.role_name}}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="width: 85%;">
            {% else %}
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="width: 100%;">
            {% endif %}
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <!-- TODO - Add icon here -->
                    </a>
                    <span class="mb-3 mb-md-0 text-muted">2023 - QA Web Application</span>
                </div>
            
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="#"><!-- TODO - Add icon here --></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><!-- TODO - Add icon here --></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><!-- TODO - Add icon here --></a></li>
                </ul>
            </footer>
        </div>

        <!-- Bootstrap JavaScript and CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>
