<!DOCTYPE html>

<!--===============================================================================================-->
<!-- Program:  Python / SQLite Web Application                                                     -->
<!-- Filename: index.html                                                                          -->
<!-- Author:   Jamie Allen                                                                         -->
<!-- Course:   BSc Digital Technology and Solutions                                                -->
<!-- Module:   Software Engineering and Agile                                                      -->
<!-- Version:  1.0                                                                                 -->
<!-- Date:     xx/xx/23                                                                            -->
<!--===============================================================================================-->

{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page!</h2>
{% endblock %}

<!--===============================================================================================-->
<!-- File: index.html                                                                              -->
<!--                                                                                               -->
<!-- Disclaimer: The following source code is the sole work of the author unless otherwise stated. -->
<!--                                                                                               -->
<!-- Copyright (c) Jamie Allen. All Rights Reserved.                                               -->
<!--===============================================================================================-->