<!DOCTYPE html>

<!--===============================================================================================-->
<!-- Program:  Python / SQLite Web Application                                                     -->
<!-- Filename: index.html                                                                          -->
<!-- Author:   Jamie Allen                                                                         -->
<!-- Course:   BSc Digital Technology and Solutions                                                -->
<!-- Module:   Software Engineering and Agile                                                      -->
<!-- Version:  1.0                                                                                 -->
<!-- Date:     xx/xx/23                                                                            -->
<!--===============================================================================================-->

{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <!-- Add icon here -->
    <h1 class="display-5 fw-bold">Welcome {{user.first_name}}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Get started managing support tickets below.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="window.location.href='/tickets'">View tickets</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href='/tickets/create'">Create ticket</button>
        </div>
    </div>
</div>
{% endblock %}

<!--===============================================================================================-->
<!-- File: index.html                                                                              -->
<!--                                                                                               -->
<!-- Disclaimer: The following source code is the sole work of the author unless otherwise stated. -->
<!--                                                                                               -->
<!-- Copyright (c) Jamie Allen. All Rights Reserved.                                               -->
<!--===============================================================================================-->