<!DOCTYPE html>

<!--===============================================================================================-->
<!-- Program:  Python / SQLite Web Application                                                     -->
<!-- Filename: tickets.html                                                                        -->
<!-- Author:   Jamie Allen                                                                         -->
<!-- Course:   BSc Digital Technology and Solutions                                                -->
<!-- Module:   Software Engineering and Agile                                                      -->
<!-- Version:  1.0                                                                                 -->
<!--===============================================================================================-->

{% extends "base.html" %}

{% block title %}Tickets{% endblock %}

{% block content %}

{% if create %}
<!-- Header -->
<div class="px-4 py-5 text-left">
    <h1 class="display-5 fw-bold">Create Support Ticket</h1>
</div>

<!-- Create Ticket Form -->
<form method="POST" class="px-4 py-5 text-left">
    <div class="form-group">
        <label for="formEmailInput"><b>Email address</b></label>
        <input type="email" class="form-control" id="formEmailInput" name="email" placeholder="{{user.email}}">
    </div>

    <div class="row">
        <div class="col">
            <label for="formNameInput"><b>Name</b></label>
            <input class="form-control" id="formNameInput" placeholder="{{user.first_name}}">
        </div>
        <div class="col">
            <label for="formTeamSelect"><b>Team</b></label>
            <select class="form-control" id="formTeamSelect" name="team">
                <option>IT</option>
                <option>HR</option>
                <option>Marketing</option>
                <option>Operations</option>
                <option>Managment</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="formTypeOfIssue"><b>Type of issue?</b></label>
        <select class="form-control" id="formTypeOfIssue" name="typeOfIssue">
            <option>Hardware</option>
            <option>Software</option>
            <option>Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="formIssueDescription"><b>Please describe the issue</b></label>
        <textarea class="form-control" id="formIssueDescription" rows="3" name="issueDescription"></textarea>
    </div>

    <div>
        <br/>
        <button type="submit" class="btn btn-primary mb-2">Create</button>
        <button type="button" class="btn btn-outline-secondary mb-2" onclick="history.back();">Cancel</button>
    </div>
</form>
{% else %}
    {% if edit %}
    <!-- Header -->
    <div class="px-4 py-5 text-left">
        <h1 class="display-5 fw-bold">{{ ticket.get_id() }}</h1>
    </div>

    <!-- Edit ticket -->
    <form method="POST" class="px-4 py-5 text-left">
        <div class="form-group">
            <label for="form_assignee"><b>Assignee</b></label>
            <select class="form-control" id="form_assignee" name="assignee">
                {% for user in get_users() %}
                    {% if ticket.assignee_id == user.id %}
                    <option selected value={{ user.id }}>{{ user.first_name }}</option>
                    {% else %}
                    <option value={{ user.id }}>{{ user.first_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="form_team_select"><b>Team</b></label>
            <select class="form-control" id="form_team_select" name="team">
                {% if ticket.team == "IT" %}
                <option selected>IT</option>
                {% else %}
                <option>IT</option>
                {% endif %}
                {% if ticket.team == "HR" %}
                <option selected>HR</option>
                {% else %}
                <option>HR</option>
                {% endif %}
                {% if ticket.team == "Marketing" %}
                <option selected>Marketing</option>
                {% else %}
                <option>Marketing</option>
                {% endif %}
                {% if ticket.team == "Operations" %}
                <option selected>Operations</option>
                {% else %}
                <option>Operations</option>
                {% endif %}
                {% if ticket.team == "Managment" %}
                <option selected>Managment</option>
                {% else %}
                <option>Managment</option>
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <label for="form_type_of_issue"><b>Type of issue?</b></label>
            <select class="form-control" id="form_type_of_issue" name="type_of_issue">
                {% if ticket.issue_type == "Hardware" %}
                <option selected>Hardware</option>
                {% else %}
                <option>Hardware</option>
                {% endif %}
                {% if ticket.issue_type == "Software" %}
                <option selected>Software</option>
                {% else %}
                <option>Software</option>
                {% endif %}
                {% if ticket.issue_type == "Other" %}
                <option selected>Other</option>
                {% else %}
                <option>Other</option>
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <label for="form_issue_desc"><b>Issue Description</b></label>
            <textarea class="form-control" id="form_issue_desc" rows="3" name="issue_desc">{{ ticket.issue_desc }}</textarea>
        </div>

        <div>
            <br/>
            <button type="submit" class="btn btn-primary mb-2">Update</button>
            <button type="button" class="btn btn-outline-secondary mb-2" onclick="history.back();">Cancel</button>
        </div>
    </form>
    {% elif view %}
    <!-- Header -->
    <div class="px-4 py-5 text-left">
        <h1 class="display-5 fw-bold">{{ ticket.get_id() }}</h1>
        <div>
            {% if user.role_name == "Admin" %}
            <button type="button" class="btn btn-danger m-2 float-end" data-bs-toggle="modal" data-bs-target="#deletion_modal">Delete Ticket</button>
            {% endif %}
            <button class="btn btn-primary m-2 float-end" onclick="window.location.href='/tickets/edit?ticket_id={{ ticket.id }}';">Edit Ticket</button>
        </div>
    </div>

    <!-- Deletion Modal -->
    <div class="modal fade" id="deletion_modal" tabindex="-1" aria-labelledby="deletion_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deletion_modal_label">Are you sure?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you wish to delete {{ ticket.get_id() }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="window.location.href='/tickets/delete?ticket_id={{ ticket.id }}';">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="px-4 py-5 text-left">
        <div class="row">
            <div class="col">
                <label><b>Raised by</b></label>
                <div>
                    <label>{{ get_user(ticket.creator_id).first_name }} ({{ get_user(ticket.creator_id).email }}) at {{ ticket.time_created }}</label>
                </div>
            </div>
            <div class="col">
                <label><b>Assigned to</b></label>
                <div>
                    <label>{{ get_user(ticket.assignee_id).first_name }} ({{ get_user(ticket.assignee_id).email }})</label>
                </div>
            </div>
        </div>

        <div class="row">
            <label><b>Team</b></label>
            <div>
                <label>{{ ticket.team }}</label>
            </div>
        </div>

        <div class="row">
            <label><b>Issue Type</b></label>
            <div>
                <label>{{ ticket.issue_type }}</label>
            </div>
        </div>

        <div class="row">
            <label><b>Issue Description</b></label>
            <textarea class="form-control" rows="3" readonly>{{ ticket.issue_desc }}</textarea>
        </div>

        <div>
            <br/>
            <button type="button" class="btn btn-outline-secondary mb-2" onclick="window.location.href='/tickets'">Go back</button>
        </div>
    </div>
    {% else %}
    <!-- Header -->
    <div class="px-4 py-5 text-left">
        <h1 class="display-5 fw-bold">Tickets</h1>
        <button class="btn btn-primary mb-2 float-end" onclick="window.location.href='/tickets/create';">Create Ticket</button>
    </div>

    <!-- List of tickets -->
    <div class="d-flex flex-column flex-row p-4 gap-4 py-md-5">
        <div class="list-group">
            {% for ticket in tickets %}
            <a href="/tickets/view?ticket_id={{ticket.id}}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src={{ get_user_profile_image(ticket.assignee_id) }} alt="twbs" class="rounded-circle flex-shrink-0" width="32" height="32">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h5 class="mb-0">{{ ticket.get_id() }}</h5>
                        <p class="mb-0 opacity-75">{{ ticket.issue_desc }}</p>
                    </div>
                    <small class="opacity-50 text-nowrap">{{ convert_ticket_created_datetime(ticket.time_created) }}</small>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}

<!--===============================================================================================-->
<!-- File: tickets.html                                                                            -->
<!--                                                                                               -->
<!-- Disclaimer: The following source code is the sole work of the author unless otherwise stated. -->
<!--                                                                                               -->
<!-- Copyright (c) Jamie Allen. All Rights Reserved.                                               -->
<!--===============================================================================================-->