/*************************************************************************************************/
/* Program:  Python / SQLite Web Application                                                     */
/* Filename: default.css                                                                         */
/* Author:   Jamie Allen                                                                         */
/* Course:   BSc Digital Technology and Solutions                                                */
/* Module:   Software Engineering and Agile                                                      */
/* Version:  1.0                                                                                 */
/* Date:     xx/xx/23                                                                            */
/*************************************************************************************************/

/* Background: #262626 (Dark Gray) */
/* Button:     #4dffff (Cyan) */

html {
    font-size: 20px;
    background-color: #262626;
}

body {
    margin: 0 auto;
    padding: 20px;
}

.default__fieldset {
    padding: 40px 20px;
}

.default__fieldset:not(:last-of-type) {
    border-bottom: 1px solid azure
}

/*************************************************************************************************/
/* File: default.css                                                                             */
/*                                                                                               */
/* Disclaimer: The following source code is the sole work of the author unless otherwise stated. */
/*                                                                                               */
/* Copyright (c) Jamie Allen. All Rights Reserved.                                               */
/*************************************************************************************************/